#root {
  h1 {
    margin-top: 40px;
  }
}
.search-bar {
  margin-bottom: 20px;
}

.movie-title {
  font-size: 14px;
}
.movie-delete {
  color: $gray;
  font-size: 12px;
}

.movie-cover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 230px;
  width: 150px;
  padding: 5px;
}

.movie-cover > img {
  height: 220px;
  width: 140px;
  object-fit: cover;
}

.movie-cover > .movie-rating {
  position: relative;
  bottom: 208px;
  left: 96px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gold;
  color: black;
}
