// Specific CSS for your home-page
// #root {
//   max-width: 800px;
//   margin: auto;
//   h1 {
//     text-align: center;
//   }
// }

#root {
  h1 {
    margin-top: 40px;
  }
}
.search-bar {
  margin: 20px;
}

.movie-title {
  font-size: 14px;
}
.movie-delete {
  color: $gray;
  font-size: 12px;
}
// .movie-list {
//   margin: 20px;
//   li {
//     list-style-type: none;
//     display: flex;
//     justify-content: space-between;
//   }
// }
